body {
        background-color: rgb(204, 204, 255);
        font font-family: Helvetica,arial,sans serif;
        text-align: left;
}

h1 {
        font-size: 5rem;
        margin-top: 25px;
        margin-bottom: 35px;
        text-align: center;
}

greekdescription {
        margin-left: 50px;
        margin-right: 25px;
        margin-top: 25px;
}

body {
  color: rgb(0,51,51);
  font-family:arial,helvetica,sans-serif;
  margin:0px;}
h1,h2,h3 {
  text-align: center;
 }
h1{
    font-size: 4em;
}
h2{
    font-size: 3em;
  }
h3{
  font-size: 2em
}
  img{
  display: flex;
  padding: 20px;
  margin: 0 auto;
}
p {
  display:flex;
  align-items: space-around;
  flex-direction: column;
  width: 70%;
  font-size: 2em;
  text-align: justify;
}
