body {
        background-color: rgb(204, 204, 255);
        font font-family: Helvetica,arial,sans serif;
        text-align: left;
}

h1 {
        font-size: 5rem;
        margin-top: 25px;
        margin-bottom: 35px;
        text-align: center;
}
Aboutpage {
  margin:0
}

h2,h3 {
  text-align: left;
 }
}
h2{
    font-size: 3em;
  }
h3{
  font-size: 2em
}
  img{
  display: flex;
  padding: 20px;
  margin: 0 auto;
}
greekdescription p {
  display: flex;
  justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 1.5em;
  text-align: justify;
}
